<%- include("_header", { icon }) -%>

<div class="row p-4">
  <div class="col d-flex justify-content-center">
    <input class="form-control form-control-lg" style="width:50%" placeholder="Search catalogue..">
  </div>
</div>

<style>
  .var {
    color: #82a1c3;
  }
</style>

<% for (const listing of model) { %>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="p-3 border-bottom">
        <span class="var"><%= listing.seller %></span> is selling <span class="var"><%= listing.item %></span> for <span class="var"><%= listing.price %></span> at <span class="var"><%= listing.location %></span>
      </div>
    </div>
  </div>
<% } %>

