<%- include("_header", { helpIcon }) -%>
<%- include("_search") -%>
<h3 class="text-center text-dark header-sm">
  Listings
</h3>
<% for (const listing of listings) { %>
  <div class="p-3 listing text-center">
    <span class="var"><%= listing.seller %></span> is selling <span class="var"><%= listing.item %></span> for <span class="var"><%= listing.price %></span> at <span class="var"><%= listing.location %></span>
  </div>
<% } %>
